body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #16a34a;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  white-space: pre-line;
}
